<% provide(:title, 'Congratulations') %>
<h1 xmlns="http://www.w3.org/1999/html">Artifacts and Antiquities Registry</h1>
<div class="left" style="text-align: left; width: 43%;">
    You have successfully signed up for the Artifacts and Antiquities Registry.
    The team would like to thank you for taking the time to participate in our
    new system and hope you enjoy your experience here.  Please feel free to
    send any feedback to cheungkt@rose-hulman.edu.

    You can view your main page using the provide link below.
</div>
<div style="height: 90px;"></div>
<button type="submit" class="button" >Sign in</button>